@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto&display=swap');
html {
  --ascent-color: hsl(0, 0%, 75%);
  --ascent-color-a: hsla(0, 0%, 20%, 0.3);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /* padrão: 16px ou 12pt */
  line-height: 1.5rem;
  margin: 1rem;
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  filter: brightness(50%);
}

.background-audio {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  max-width: 50%;
  opacity: 0.6;
  /* volume: soft; */
}

/* .audio-text {
  position: fixed;
  top: 4.5rem;
  left: 2rem;
  color: var(--ascent-color);
  text-shadow: 1px 1px silver;
} */

/* body {
  background-image: url("/media/champion-kayle-Morgana-splash.jpg");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/champion-kayle-Morgana-splash.jpg");
} */

nav ul li {
  display: inline-block;
  padding: 0.5em 1em;
  /* border: 1px solid #000000; */
}

nav ul li:hover {
  background-color: hsl(240, 24%, 94%, 0.8);
}

nav ul a {
  color: #000000;
  text-decoration: none;
}

#intern-button {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  text-align: right;
}

em:hover, button:hover {
  color: #a30021;
  /* font-style: oblique; */
}

/* section {
  display: flex;
  flex-wrap: wrap;
} */

div {
  padding: 1rem;
  /* flex: 25%; */
}

.image {
  padding: 0;
}

.border {
  /* border: 2px solid silver; */
  border: 2px solid var(--ascent-color-a);
  border-radius: 15px;
  /* background-color: hsl(0, 0%, 100%); */
}

.center {
  margin: auto;
  margin-top: 1rem;
  /* min-width: 50%; */
  max-width: 50%;
}

.transbox {
  /* opacity: 0.6; */
  background-color: hsla(0, 0%, 100%, 0.6);
  text-shadow: 1px 1px var(--ascent-color-a);
}

.top-button {
  position: fixed;
  bottom: 0;
  right: 0;
  width: min-content;
  padding: 0;
  margin: 0.5rem;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0;
}

/* button:active {

} */

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.35rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

p {
  text-align: justify;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

blockquote {
  text-align: right;
}

div picture img {
  border: 2px solid var(--ascent-color);
}

div img {
  border: 2px solid var(--ascent-color-a);
}

img, video {
  max-width: 100%;
  /* opacity: 1 !important; */
}

.paragrafo {
  margin: 1.5rem;
}

table {
  border-collapse: collapse;
  text-shadow: 1px 1px var(--ascent-color-a);
  /* border-radius: 15px; */
}

table tr, td {
  border: 2px solid var(--ascent-color-a);
  padding: 0.5rem;
  vertical-align: top;
}

table img {
  width: max-content;
}

table th {
  background-color: var(--ascent-color-a);
}

table td:first-child {
  background-color: var(--ascent-color-a);
  width: 10%;
}

span#topo {
  position: absolute;
  top: 0;
  left: 0;
}

/* .box {
  box-sizing: border-box;
}

.image {
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
} */
