/* pedrão: 16px ou 12pt */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  margin: 1rem;
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  filter: brightness(50%);
}

.background-audio {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  max-width: 50%;
  opacity: 0.6;
  /* volume: soft; */
}

.audio-text {
  position: fixed;
  top: 4.5rem;
  left: 2rem;
  color: silver;
  /* text-shadow: 1px 1px silver; */
}

/* body {
  background-image: url("/media/champion-kayle-Morgana-splash.jpg");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/champion-kayle-Morgana-splash.jpg");
} */

nav ul li {
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid #000000;
}

nav ul li:hover {
  background-color: hsl(195, 53%, 79%);
}

nav ul a {
  color: #000000;
  text-decoration: none;
}

em:hover, button:hover {
  color: hsl(0, 100%, 50%);
  font-style: oblique;
}

/* section {
  display: flex;
  flex-wrap: wrap;
} */

div {
  padding: 1rem;
  /* flex: 25%; */
}

.image {
  padding: 0;
}

.border {
  border: 2px solid hsl(0, 0%, 75%);
  border-radius: 15px;
  background-color: #ffffff;
}

.center {
  margin: auto;
  margin-top: 1rem;
  /* min-width: 50%; */
  max-width: 50%;
}

.transbox {
  opacity: 0.6;
  text-shadow: 1px 1px hsl(0, 0%, 75%);
}

.top-button {
  position: fixed;
  bottom: 0;
  right: 0;
  width: min-content;
  padding: 0;
  margin: 0.5rem;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0;
}

/* button:active {

} */

h1 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.35rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

p {
  text-align: justify;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

blockquote {
  text-align: right;
}

div img {
  border: 2px solid hsl(0, 0%, 75%);
}

img, video {
  max-width: 100%;
  /* opacity: 1 !important; */
}

.paragrafo {
  margin: 1.5rem;
}

table {
  text-shadow: 1px 1px hsl(0, 0%, 75%);
  /* border-radius: 15px; */
}

table tr, td {
  border: 2px solid hsl(0, 0%, 75%);
  padding: 0.5rem;
  vertical-align: top;
}

table img {
  width: max-content;
}

table th {
  background-color: hsl(0, 0%, 75%);
}

table td:first-child {
  background-color: hsl(0, 0%, 75%);
  width: 10%;
}

span#topo {
  position: absolute;
  top: 0;
  left: 0;
}

/* .box {
  box-sizing: border-box;
}

.image {
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
} */
