@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&family=Poppins&display=swap');
html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  --ascent-color: hsl(0, 0%, 75%);
  --ascent-color-a: hsla(0, 0%, 100%, 0.6);
  --ascent-color-b: hsla(0, 0%, 20%, 0.3);
}

* {
  box-sizing: border-box;
  text-shadow: 1px 1px var(--ascent-color-b);
  transition: all 0.2s;
}

body {
  margin: 0.5rem 0;
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.background-video {
  min-width: 100%;
  filter: brightness(50%);
}

.background-audio {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  max-width: 50%;
  opacity: 0.6;
}

span#topo {
  position: absolute;
  top: 0;
  left: 0;
}

header, main, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav, main>*, section {
  width: 50%;
  margin: 0.5rem 0;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  text-align: center;
  border: 2px solid var(--ascent-color-b);
  padding: 0.5rem 1.5rem;
  background-color: var(--ascent-color-a);
}

nav li:hover {
  background-color: hsl(240, 24%, 94%, 0.8);
}

nav li:first-of-type {
  border-width: 2px 0 2px 2px;
  border-radius: 15px 0 0 15px;
}

nav li:last-of-type {
  border-width: 2px 2px 2px 0;
  border-radius: 0 15px 15px 0;
}

main div {
  padding: 1rem;
  background-color: var(--ascent-color-a);
  border: 2px solid var(--ascent-color-b);
  border-radius: 15px;
}

main div *:last-child {
  margin-bottom: 0;
}

picture>img {
  display: block;
  max-width: 100%;
  border: 2px solid var(--ascent-color-b);
  border-radius: 15px;
}

table {
  border-collapse: separate;
  margin: 1rem 0;
  border: 1px solid var(--ascent-color-b);
}

table th, td {
  border: 1px solid var(--ascent-color-b);
  vertical-align: middle;
  padding: 0.5rem;
}

table th:first-of-type, td:first-of-type {
  border: 0;
  background-color: var(--ascent-color-b);
}

table img {
  width: 40px;
}

section div {
  margin: 0.5rem 0;
  display: block;
  padding: 1rem;
  border: 2px solid var(--ascent-color-b);
  background-color: var(--ascent-color-a);
}

section div:first-of-type {
  margin-top: 0;
  border-radius: 15px 15px 0 0;
}

section div:last-of-type {
  margin-bottom: 0;
  border-radius: 0 0 15px 15px;
}

section h2 {
  line-height: 1.75rem;
  width: fit-content;
}

section h2:hover, #guia h2:hover {
  position: relative;
  transform: translateX(2rem);
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
}

p {
  text-align: justify;
}

main#lore p::first-line {
  text-indent: 2.5rem;
}

blockquote {
  margin: 1rem 0;
  text-align: right;
}

b {
  font-weight: 600;
}

i {
  font-style: italic;
}

p>a {
  color: #4d0591;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  transition: none;
  color: #A30021;
}

button {
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
  padding: 0.5rem 0.75rem;
  border: 2px solid var(--ascent-color-b);
  border-radius: 10px;
  background-color: var(--ascent-color-a);
}

button:hover {
  background-color: hsl(240, 24%, 94%, 0.8);
  transform: scale(1.25) translate(-0.5rem, -0.25rem);
}

button:hover a {
  color: #A30021;
}
